@import 'normalize-2.1.1.css';
/* MIXINS */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix {
  display: block;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
body,
html {
  background-color: #efefef;
}
.header {
  background: url('../img/forest.gif') center center;
  background-size: 100% auto;
  min-height: 300px;
  padding-top: 70px;
  border-bottom: 5px solid #0d2119;
}
.header h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  margin: 0;
  font-size: 100px;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.results {
  width: 50%;
  float: left;
}
.results h2 {
  margin: 15px;
}
.results ul {
  margin: 0;
  padding: 0;
}
.results ul li {
  margin: 15px;
  padding: 0;
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 15px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.results ul li .thumbnail {
  width: 40px;
  height: 40px;
  float: left;
  background-color: #eee;
  margin-right: 10px;
  background-size: auto 100%;
  border-radius: 100%;
}
.results ul li .description {
  width: 50%;
  float: left;
}
.results ul li .description .name {
  font-size: 30px;
  color: #444;
  margin-top: 3px;
}
.results ul li .description .location {
  display: none;
  font-size: 20px;
  color: #1ba16d;
}
.results ul li .favBtn {
  float: right;
  background-color: #fff;
  height: 20px;
  width: 20px;
  margin-top: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.results ul li .favBtn.fav {
  background-color: #1d995d;
}
.results ul li:hover {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
