@import 'mixins.less';
@import 'normalize-2.1.1.css';

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html {
}

.clearfix {
    display: block;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

body, html {
    background-color: #efefef;
}

.header {
    background: url('../img/forest.gif') center center;
    background-size: 100% auto;
    min-height: 300px;
    padding-top: 70px;
    border-bottom: 5px solid #0d2119;

    h1 {
        font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
        margin: 0;
        font-size: 100px;
        text-align: center;
        color: #fff;
        text-shadow: 0 0 5px rgba(000, 000, 000, .4);
    }

}

.results {
    width: 50%;
    float: left;
    h2 {
        margin: 15px;
    }
    ul {
        margin: 0;
        padding: 0;

        li {
            margin: 15px;
            padding: 0;
            list-style-type: none;
            background-color: rgba(000, 000, 000, 0.1);
            border-radius: 3px;
            padding: 15px;
            .transition();

            .thumbnail {
                width: 40px;
                height: 40px;
                float: left;
                background-color: #eee;
                margin-right: 10px;
                background-size: auto 100%;
                border-radius: 100%;
            }

            .description {
                width: 50%;
                float:left;
                .name {
                    font-size: 30px;
                    color: #444;
                    margin-top: 3px;
                }
                .location {
                    display: none;
                    font-size: 20px;
                    color: #1ba16d;
                }
            }

            .favBtn {
                float: right;
                background-color: #fff;
                height: 20px;
                width: 20px;
                margin-top: 10px;
                .rounded(2px);

                &.fav {
                    background-color: #1d995d;
                }
            }

            &:hover {
                background-color: rgba(000, 000, 000, 0.2);
                .transition();
            }
        }
    }
}